<div class="clearfix"></div>
<div class="container_fullwidth">
	<div class="container">
		<div class="hot-products">
			<h3 class="title"><strong>Hot</strong> Products</h3>
			<div class="control"><a id="prev_hot" class="prev" href="#">&lt;</a><a id="next_hot" class="next"
					href="#">&gt;</a></div>
			<ul id="hot">
				<li>
					<div ngClass="row">
						<div ngClass="col-lg-4 col-md-6 mb-3" *ngFor='let product of products'>
							<div class="products">
								<div class="thumbnail"><a routerLink="/productDetail"><img src={{product.img alt="Product Name"></a>
								</div>
								<div class="productname">{{product.name}}</div>
								<h4 class="price">${{product.price}}</h4>
										<div class="button_group">
											<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
										</div>
								</div>
							</div>
						</div>
				</li>
			</ul>
		</div>
		<div class="our-brand">
			<h3 class="title"><strong>Our </strong> Brands</h3>
			<div class="control"><a id="prev_brand" class="prev" href="#">&lt;</a><a id="next_brand" class="next"
					href="#">&gt;</a></div>
			<ul id="braldLogo">
				<li>
					<ul class="brand_item">
						<li>
							<a href="#">
								<div class="brand-logo">
									<img src="https://i.imgur.com/sdNvKAK.png" alt=""></div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="brand-logo">
									<img src="https://i.imgur.com/SAvzU3x.png" alt=""></div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="brand-logo">
									<img src="https://i.imgur.com/wInUSWQ.png" alt=""></div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="brand-logo">
									<img src="https://i.imgur.com/bQ3rnYI.png" alt=""></div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="brand-logo">
									<img src="https://i.imgur.com/sdNvKAK.png" alt=""></div>
							</a>
						</li>
					</ul>
				</li>
				<!-- <li>
										<ul class="brand_item">
											<li>
												<a href="#">
													<div class="brand-logo"><img src="images/envato.png" alt=""></div>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="brand-logo">
														<img src="images/themeforest.png" alt=""></div>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="brand-logo">
														<img src="images/photodune.png" alt=""></div>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="brand-logo">
														<img src="images/activeden.png" alt=""></div>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="brand-logo"><img src="images/envato.png" alt=""></div>
												</a>
											</li>
										</ul>
									</li> -->
			</ul>
		</div>
	</div>
</div>
<div class="clearfix"></div>