<body id="home">
	<div class="wrapper">
		<app-header></app-header>
		<div class="clearfix"></div>
		<div class="hom-slider">
			<div class="container">
				<div id="sequence">
					<div class="sequence-prev"><i class="fa fa-angle-left"></i></div>
					<div class="sequence-next"><i class="fa fa-angle-right"></i></div>
					<ul class="sequence-canvas">
						<li class="animate-in">
							<div class="flat-caption caption1 formLeft delay300 text-center">
								<span class="suphead">Paris show 2014</span></div>
							<div class="flat-caption caption2 formLeft delay400 text-center">
								<h1>Collection For Winter</h1>
							</div>
							<div class="flat-caption caption3 formLeft delay500 text-center">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting
									industry.<br>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
							</div>
							<div class="flat-button caption4 formLeft delay600 text-center"><a class="more"
									href="#">More Details</a></div>
							<div class="flat-image formBottom delay200" data-duration="5" data-bottom="true">
								<img src="https://i.imgur.com/6P30teT.png" alt=""></div>
						</li>
						<li>
							<div class="flat-caption caption2 formLeft delay400">
								<h1>Collection For Winter</h1>
							</div>
							<div class="flat-caption caption3 formLeft delay500">
								<h2>Etiam velit purus, luctus vitae velit
									sedauctor<br>egestas diam, Etiam velit purus.</h2>
							</div>
							<div class="flat-button caption5 formLeft delay600"><a class="more" href="#">More
									Details</a></div>
							<div class="flat-image formBottom delay200" data-bottom="true">
								<img src="https://i.imgur.com/e0jsfvM.png" alt=""></div>
						</li>
						<li>
							<div class="flat-caption caption2 formLeft delay400 text-center">
								<h1>New Fashion of 2013</h1>
							</div>
							<div class="flat-caption caption3 formLeft delay500 text-center">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									<br>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
							</div>
							<div class="flat-button caption4 formLeft delay600 text-center"><a class="more"
									href="#">More Details</a></div>
							<div class="flat-image formBottom delay200" data-bottom="true">
								<img src="https://i.imgur.com/4Nkan61.png" alt=""></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="promotion-banner">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="promo-box"><img src="https://i.imgur.com/iTAzyUz.png" alt=""></div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-4">
								<div class="promo-box"><img src="https://i.imgur.com/HHJCeJ3.png" alt=""></div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4">
									<div class="promo-box"><img src="https://i.imgur.com/rAhJCzy.png" alt=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="container_fullwidth">
						<div class="container">
							<div class="hot-products">
								<h3 class="title"><strong>Hot</strong> Products</h3>
								<div class="control"><a id="prev_hot" class="prev" href="#">&lt;</a><a id="next_hot"
										class="next" href="#">&gt;</a></div>
								<ul id="hot">
									<li>
										<div class="row">
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="offer">- %20</div>
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="offer">New</div>
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="row">
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="offer">- %20</div>
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="offer">New</div>
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="clearfix"></div>
							<div class="featured-products">
								<h3 class="title"><strong>Featured </strong> Products</h3>
								<div class="control"><a id="prev_featured" class="prev" href="#">&lt;</a><a
										id="next_featured" class="next" href="#">&gt;</a></div>
								<ul id="featured">
									<li>
										<div class="row">
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="offer">New</div>
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="row">
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="products">
													<div class="thumbnail"><a
															href="details.html"><img src="https://i.imgur.com/CJ7yoS4.png" alt="Product Name"></a>
													</div>
													<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
													<h4 class="price">$451.00</h4>
													<div class="button_group">
														<button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="clearfix"></div>
							<div class="our-brand">
								<h3 class="title"><strong>Our </strong> Brands</h3>
								<div class="control"><a id="prev_brand" class="prev" href="#">&lt;</a><a id="next_brand"
										class="next" href="#">&gt;</a></div>
								<ul id="braldLogo">
									<li>
										<ul class="brand_item">
											<li>
												<a href="#">
													<div class="brand-logo"><img src="https://i.imgur.com/sdNvKAK.png" alt=""></div>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="brand-logo">
														<img src="https://i.imgur.com/SAvzU3x.png" alt=""></div>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="brand-logo">
														<img src="https://i.imgur.com/wInUSWQ.png" alt=""></div>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="brand-logo">
														<img src="https://i.imgur.com/bQ3rnYI.png" alt=""></div>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="brand-logo"><img src="https://i.imgur.com/sdNvKAK.png" alt=""></div>
												</a>
											</li>
										</ul>
									</li>
									<!-- <li>
										<ul class="brand_item">
											<li>
												<a href="#">
													<div class="brand-logo"><img src="images/envato.png" alt=""></div>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="brand-logo">
														<img src="images/themeforest.png" alt=""></div>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="brand-logo">
														<img src="images/photodune.png" alt=""></div>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="brand-logo">
														<img src="images/activeden.png" alt=""></div>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="brand-logo"><img src="images/envato.png" alt=""></div>
												</a>
											</li>
										</ul>
									</li> -->
								</ul>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					
          <app-footer></app-footer>

				</div>
				<!-- Bootstrap core JavaScript==================================================-->
</body>